# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs and databases
*.log
*.sqlite3

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Optional: environment variables file
.env

config.yaml
sp_model.joblib
output.xlsx
